#buttonContainer {
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 6px;
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

button span {
    display: inline-block;
}
